*{
    margin: 0%;
    padding: 0%;
}
header{
    display: flex;
    /* border: 1px solid black; */
    background-color: rgba(148, 137, 137, 0.801);
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
header img{
    height: 45px;
    width: 45px;
}
h2{
    display: inline;
}
input{
    height: 25px;
    align-items: center;
}
h3{
    display: inline;
    box-shadow: 2px 2px 5px darkgray;
    padding: 5px;
}
video {
    display: inline;
    width: 98%;
    height: 200px;
    justify-content: center;
} 
.video-e-descricao{
    width: 300px;
}
footer{
    background-color: coral;
    height: 45px;
    text-align: center;
    padding-top: 21px;
    margin-top: 15px;
}
main{
    display: grid;
    width: 98%;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    margin-left: 25px;
}